@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extra-bold: 800;
    font-family: 'Inter', sans-serif;
    font-weight: var(--fw-regular);
}

body {
    background-color: var(--Off-white);
    overflow-x: hidden;
}

.overlay {
    display: none;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}




/* Header */

header {
    width: 100%;
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 0;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: .9rem;
    transition: 1s ease;
}

.links a {
    cursor: pointer;
    transition: 0.2s ease;
}

.links a:hover {
    color: var(--Soft-red);
}

.menu-icon-box, .menu-close-icon, .links .menu-close-icon {
    display: none;
    cursor: pointer;
}

@media (max-width: 630px) {
    .links {
        display: none;
    }

    .menu-icon-box {
        display: block;
    }

    .links.appear {
        position: absolute;
        inset: 0;
        background-color: var(--Off-white);
        font-size: 1.2rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 1.3rem;
        padding-left: 2rem;
        padding-top: 14rem;

        transform: translateX(25%);
    }

    .links .menu-close-icon {
        display: block;
        position: absolute;
        top: 23px;
        right: 28%;
    }

    .overlay.appear {
        display: block;
        position: absolute;
        inset: 0;
        background: black;
        opacity: .6;
    }
}




/* Main Section */

main {
    width: 100%;
}

.wrapper-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
    
    margin-bottom: 3rem;
}

.wrapper-main :is(.container1, .container2) {
    align-self: stretch;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    row-gap: 1.75rem;

    width: 70%;
    max-width: 700px;
}

.container1__img {
    background-image: url("./assets/images/image-web-3-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 250px;
}

@media (max-width: 880px) {
    .container1__img {
        background-image: url("./assets/images/image-web-3-mobile.jpg");
    }
}

.container1__heading {
    font-size: 3rem;
    font-weight: var(--fw-extra-bold);
    max-width: 50%;
}

.container1__detail {
    color: var(--Dark-grayish-blue);
    font-size: .9rem;
    letter-spacing: 1px;
    max-width: 45%;
}

.container1__detail button {
    background-color: var(--Soft-red);
    color: white;
    font-weight: var(--fw-regular);
    letter-spacing: 2px;
    
    display: grid;
    place-content: center;
    padding: .75rem 2.5rem;
    margin-top: 2rem;

    transition: .3s ease;
    cursor: pointer;
}

.container1__detail button:hover {
    background-color: black;
    color: white;
}

.container2 {
    background: var(--Very-dark-blue);
    color: white;
    padding: 1.5rem;
    font-size: 1.2rem;
}

.container2__box:nth-of-type(2) {
    margin: 1.5rem 0;
}

.container2 .container2__heading {
    font-size: 1.7rem;
    color: var(--Soft-orange);
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
}

.container2 .container2__box p:first-child {
    font-weight: var(--fw-extra-bold);
    cursor: pointer;
    transition: .3s ease;
}

.container2 .container2__box p:first-child:hover {
    color: var(--Soft-orange);
}

.container2 .container2__box p:nth-child(2) {
    color: var(--Grayish-blue);
    margin: .4rem 0 1.5rem;
}

.container2 .container2__box p:last-child {
    margin-bottom: 0;
}

.container2__box__line {
    width: 100%;
    height: 1px;
    background-color: var(--Dark-grayish-blue);
}

@media (min-width: 1600px) {
    .container1 {
        padding: 0 0;
    }

    .container1, 
    .container2 {
        font-size: 1.5rem;
    }
}




/* Bottom Section */

.bottom-section {
    width: 100%;
}

.wrapper-bottom {
    margin-bottom: 3rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    column-gap: 1.5rem;
}

.wrapper-bottom__box {
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    column-gap: 1rem;

    max-width: 500px;
}

.wrapper-bottom__box:nth-of-type(1) .wrapper-bottom__box__img {
    background-image: url("./assets/images/image-gaming-growth.jpg");
}

.wrapper-bottom__box:nth-of-type(2) .wrapper-bottom__box__img {
    background-image: url("./assets/images/image-top-laptops.jpg");
}

.wrapper-bottom__box:nth-of-type(3) .wrapper-bottom__box__img {
    background-image: url("./assets/images/image-retro-pcs.jpg");
}

.wrapper-bottom__box__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 120px;
    height: 100%;
}

.wrapper-bottom__box__detail p:nth-of-type(1) {
    font-size: 1.7rem;
    font-weight: var(--fw-bold);
    color: var(--Grayish-blue);
}

.wrapper-bottom__box__detail p:nth-of-type(2) {
    font-weight: var(--fw-bold);
    margin: .5rem 0;

    transition: .3s ease;
    cursor: pointer;
}

.wrapper-bottom__box__detail p:nth-of-type(2):hover {
    color: var(--Soft-red);
}

.wrapper-bottom__box__detail p:nth-of-type(3) {
    color: var(--Dark-grayish-blue);
}

@media (max-width: 1133px) {
    .wrapper-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: fit-content;
        row-gap: 3rem;
    
        margin-bottom: 3rem;
    }

    .container1 {
        max-width: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    .container1__heading, .container1__detail {
        max-width: 100%;
    }

    .container2 {
        padding: 1.5rem;
        max-width: 100%;
    }

    .wrapper-bottom {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        column-gap: 0;
        row-gap: 1.5rem;
    }

    .wrapper-bottom__box__img {
        max-width: 90px;
        height: 120px;
    }
}